@import '../../colourScheme.scss';

#catalogue {
    display: flex;
    flex-wrap: wrap;   
    padding-inline-start: 0;
}

#pagination {
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    justify-content: space-between;
}

h5 {
    text-align: center;
    font-size: 140%;
    font-weight: normal;
    border-bottom: 1px solid black;
    padding: 1em;
    background-color: $lightBlue;
    margin-bottom: 0.5em;
}