<h5>
    Gotta catch 'em all! 
</h5>
<ul id="catalogue">
    <basic-card [pokemon]="poke" *ngFor="let poke of pokemon"></basic-card>
</ul>

<div id="pagination">
    <button *ngIf="this.pokemonListService.hasPrevious" (click)="this.pokemonListService.previous()">Previous</button>
    <div class="flexMinGap"></div>
    <button *ngIf="this.pokemonListService.hasNext" (click)="this.pokemonListService.next()">Next</button>
</div>
