@import './app/colourScheme.scss';

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: start;
}

html, body {
    height: 100%;
}

.flexMinGap {
    flex: 1 0 10px;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $darkBlue;
}

button {
    width: 100%;
    background-color: $mediumGreen;
    color: inherit;
    border: none;
    padding: 0.5em;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: 1px solid black;
    border-radius: 0.3em;
}

button:disabled {
    background-color: $mediumGreen;
    cursor:initial;
}

button:hover:enabled {
    background-color: $lightGreen;
}