@import '../../colourScheme.scss';

fieldset {
    border: none;
}

:host {
    flex-grow: 1;
    background-color: $darkGreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img {
        width: 200px;
        padding-right: 2em;
    }

    form {
        display: flex;
        flex-direction: column;

        > * {
            margin-bottom: 0.3em;
        }

        button, input {
            padding: 0.5em;
            text-align: center;
        }
        input {
            border-radius: 0.3em;
        }

        button:disabled {
            background-color: lightgrey;
        }
    }

    .form-field {
        display: flex;
        justify-content: space-between;

        label {
            padding-right: 1em;
            align-self: center;
        }
    }

    .flexgap {
        flex: 1 0 10px;
    }
}