<img src="/assets/pokeball.png"/>
<form [formGroup]="loginForm">
    <fieldset>
        <div class="form-field">
            <label>Name</label>
            <input type="text" placeholder="Ash" name="name" formControlName="name" />
        </div>

        <!--<div class="form-field">
            <label>Password</label>
            <input type="password" name="password" formControlName="password" />
        </div>-->
    </fieldset>

    <button [disabled]="!loginForm.valid" (click)="login()">
        Login
    </button>
</form>

