.card {
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em;

    -webkit-box-shadow: 2px 2px 4px -2px #000000; 
    box-shadow: 2px 2px 4px -2px #000000;

    transition: all 0.5s linear;

    div {
        background-color: rgb(168, 168, 168);
        border-radius: 0.5em;
    }

    p {
        margin-top: 0.3em;
        color: white;
        text-align: center;
    }

    img {
        -webkit-box-shadow: 21px 22px 50px -2px #000000; 
        box-shadow: 21px 22px 50px -2px #000000;
    }
}

.card:hover {
    background-color: rgb(122, 10, 10);
    cursor: pointer;
}