<div 
    *ngIf="!this.empty; else loadingTemplate" 
    id="detailsContainer">

    <section>
        <div class="imageBackground">
            <img [src]="details.imageUrl" [alt]="details.name" />
        </div>
        <h1>{{ details.name }}</h1>
        
        <ul class="flexList">
            <li [style.background-position]="details.offsets[type]" [title]="type" class="pokemonType" *ngFor="let type of details.types"> 
                &nbsp;
            </li>
        </ul>
    </section>

    <div id="statContainer">
        <section>
            <h5>Basic info</h5>
            <div class="nameValuePair">
                <p>Height:</p>
                <p>{{ details.height }}</p>
            </div>
            <div class="nameValuePair">
                <p>Weight:</p> 
                <p>{{ details.weight }}</p>
            </div>
            <div class="nameValuePair">
                <p>Base Experience:</p>
                <p>{{ details.base_experience }}</p>
            </div>
        </section>

        <section>
            <h5>Base stats</h5>
            <ul>
                <li class="nameValuePair" *ngFor="let stat of details.stats">
                    <p>{{ stat.name }}</p>
                    <div class="flexMinGap"></div>
                    <p>{{ stat.value }}</p>
                </li>
            </ul>
        </section>

        <section>
            <h5>Abilities</h5>
            <ul>
                <li *ngFor="let ability of details.abilities">
                    {{ ability }}
                </li>
            </ul>
        </section>
            
        <section>
            <h5>Moveset</h5>
            <select size=10>
                <option *ngFor="let move of details.moves">
                    {{ move }}
                </option>
            </select>
        </section>
    </div>
    
    <div *ngIf="auth.isLoggedIn">
        <ng-template [ngIf]="!owned" [ngIfElse]="ownedPokemon">
            <button  (click)="collectPokemon()">
                Collect!
            </button>
        </ng-template>
    
        <ng-template #ownedPokemon>
            <button disabled="true">
                Owned.
            </button>
        </ng-template>
    </div>
    
    
</div>

<ng-template #loadingTemplate class="loader">
Loading pokemon details. This may take up to 3 working days, counting 5 days from now, using the current version of the company calendar. Please be patient.
</ng-template>