@import './../../../app/colourScheme.scss';

ul {
    list-style-type: none;
}

.flexList {
    display: flex;
}

.nameValuePair {
    display: flex;
    justify-content: space-between;
}

.pokemonType {
    background: url('/assets/types3.png');// -24px -52px no-repeat;
    background-repeat: no-repeat;
    background-size: 590%;
    width: 25px;
    height: 26px;
}

h5 {
    text-align: center;
    font-weight: normal;
    font-size: 120%;
    border-bottom: 1px solid black;
    margin-bottom: 0.5em;

    :after {
        content: '<hr/>';
        display: block;
    }
}

#detailsContainer {
    background-color: $darkGreen;

    section {
        flex-grow: 1.2;
        padding: 2em;
    }
    // This is the "header" - image, name and types
    > section:first-child {
        background-color: $darkBlue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
        color: $mediumGreen;

        .imageBackground {
            background-color: $lightGreen;
            border-radius: 50%;
            border: 1px solid black;
            -webkit-box-shadow: 5px 5px 15px 5px #000000; 
            box-shadow: 3px 3px 15px 5px #000000;
        }
    }

    > button {
        border-left: none;
        border-right: none;
    }
}

// This contains the other sections.
#statContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    section {
        flex: 1 1 0px;
    }

    section:first-child {
        .stats {
            display: flex;
            justify-content: space-between;
        }
    }

    section:last-child {
        display: flex;
        flex-direction: column;
        select {
            padding: 0.5em;
        }
    }

    section:nth-child(odd) {
        background-color: $lightBlue;
    }
}