@import '../../colourScheme.scss';

:host {
    display: flex;
    flex-direction: column;
}

h5 {
    text-align: center;
    font-size: 140%;
    font-weight: normal;
    border-bottom: 1px solid black;
    padding: 1em;
    background-color: $lightBlue;
    margin-bottom: 0.5em;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    flex-basis: 1;

    display: flex;
    flex-wrap: wrap;
}
/*
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $mediumGreen;
    border: 1px solid black;
    border-top: none;
    padding-left: 1em;

    p {
        font-size: 120%;
    }
}*/

li:hover {
    background-color: $lightGreen;
    cursor: pointer;
}

li:nth-child(odd) {
    background-color: $darkGreen;
}
li:nth-child(odd):hover {
    background-color: $lightGreen;
}