<h5>Your glorious trophy pokemon:</h5>
<div>
    <ul>
        <basic-card 
            *ngFor="let mon of pokemon"
            [routerLink]="[linkToDetails(mon.id)]"
            [pokemon]="mon"
        >
        </basic-card>
    </ul>
</div>
