@import '../../../colourScheme.scss';

:host {
    background-color: $darkestGreen;
    padding: 0.4em;
    padding-bottom: 0.1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

    img {
        max-height: 80px;
    }
    img:hover {
        cursor: pointer;
    }

    nav {
        display: flex;
        justify-content: space-between;
        flex-grow: 0.5;

        > button {
            margin-right: 1em;
        }
    }
}