<img [routerLink]="['/']" src="/assets/poketext.png" alt="pokemon" />
<nav *ngIf="authService.isLoggedIn">
    <button 
        [disabled]="isCurrentRoute('/trainer/profile')" 
        [routerLink]="['/trainer/profile']"
    >Profile</button>
    <button
        [disabled]="isCurrentRoute('/pokemon/catalogue')"
        [routerLink]="['/pokemon/catalogue']"
    >Catalogue</button>
    <button (click)="authService.logout()">Log out</button>
</nav>
